#intro

  %p
    Imagine a visual editor for
    %a{:href => "http://fluidinfo.com/fluiddb"} FluidDB
    search.  Its
    %a{:href => "http://doc.fluidinfo.com/fluidDB/queries.html"} query language
    can be seen as a base upon which various domain-specific languages are to be defined.  While a great example and inspiration, it's just one possible target platform.  Expecting the basic logic (set algebra) query tree structure to also be applicable elsewhere.  
  
  %p
    %a{:href => "http://code.google.com/p/redis/"} Redis
    is a very possible alternative with its intersection, union and difference commands, plus ability to create intermediary sets for storing temp results in.  So, there could be all kinds of pluggable backends, generating queries for different stores to be searched, as well as different results caching options.  Every leaf node in a query tree will generate a valid query statement (set-yielding expression in search of objects) that could be run against any store with support for dynamic queries or mapreduce jobs.  The result sets are fed into Redis (i.e. sets) - for further set algebra processing.  This approach could even be used for bridging data across stores, as long as the object ids are commonly shared for the type of thing being searched (though this will not be efficient and a limit is assumed for a realistic intersection).  As leaf node results get returned, parent sets are recomputed on the path to the tree's root.
  
  %p
    %a{:href => "http://thejit.org/"} The JIT
    (JavaScript InfoVis Toolkit) and more specifically
    %a{:href => "http://thejit.org/docs/files/Spacetree-js.html"} SpaceTree
    will be used for the interface.  Queries will be stored as JSON and loaded directly into JIT.  Here are some of the
    %a{:href => "http://groups.google.com/group/javascript-information-visualization-toolkit/browse_thread/thread/1c23d3fc626abd5a/2d0a11b53800e415"} initial considerations
    for making it usable.  The query tree is in a constantly running state, sending search requests with every valid new or altered statement.  An open 
    %a{:href => "http://github.com/jcoglan/faye"} Faye
    connection, bringing results in as stuff gets found (or unfound).  Each node can show the number of results (count) it yields.
  
  %p
    The original idea was (in part) inspired by Martin Fowler's
    %a{:href => "http://martinfowler.com/articles/languageWorkbench.html"} language workbenches
    paper.  We use DSL phrases that represent stored queries (possibly parameterized), and there is one for every platform.
    %a{:href => "http://github.com/zaach/jison"} Jison
    or
    %a{:href => "http://pegjs.majda.cz/"} PEG.js
    can parse phrase grammars for an exact query match on the client side, with possible auto-complete suggestions.  Considering OWL - to dynamically
    %a{:href => "http://www.w3.org/standards/semanticweb/inference"} infer
    a set of applicable queries, or rather generate entire DSLs with...
  
  -#%p
    Everything about this is, for the foreseeable future, external to FluidDB (and therefore dynamically pre-processed).  Results could be cached / tagged in FluidDB itself, though more likely through yet another NoSQL store (e.g.
    = succeed ")." do
      %a{:href => "http://code.google.com/p/redis/"} Redis
