!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %title= @uber_title || "Fluidmix" + if @view_title then " : #{@view_title}" else "" end
    %link{ :href => "/stylesheets/screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }/
    = if @custom_style
      %link{ :href => "/stylesheets/custom_#{@custom_style}.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }/
    /[if IE]
      %link{ :href => "/stylesheets/ie.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css" }/
    - if @javascripts
      - @javascripts.each do |js|
        %script{ :type => "text/javascript", :src => "/javascripts/#{js}.js" }
    %script{ :type => "text/javascript", :src => "http://use.typekit.com/mxa0hpq.js" }
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    #whole
      #sky.bumper
        #horizon.container
          #darlings
            %a{:href => "http://twitter.com/fluidmix"}
              %img{:height => 32, :src => "/images/twitter_med.png"}
      #header.bumper
        #heading.container
          -if @bummer
            .bummer
              = @bummer
          -else
            #head
              %h1= "fluidmix.org"
              #tagline
                picture find in your mind
            #menu
              %ul
                %li.first
                  %a.menu_selected{:href => "/"} Home
                %li
                  %a.menu{:href => "http://github.com/monad/fluidmix"} Code
                %li
                  %a.menu{:href => "http://www.pivotaltracker.com/projects/34659"} Track
                %li.last
                  %a.menu{:href => "/ui"} UI
      .bumper
        #main.container
          = yield
    - if ENV['RACK_ENV'] == "production"
      = partial :'_shared/lloogg', :locals => { :lloogg_clientid => "900022842a145fc" }